<div id="new-event-modal" class="modal" role="dialog" data-keyboard="false" data-backdrop="static">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <div class="modal-title">New Event</div>
      </div>
      <div class="modal-body">
        <%= form_for(event, url: '/users/' + current_user.id + '/events', html: {method: :post}) do |f| %>

            <div class="form-group">
              <%= f.label :Title %>
              <%= f.text_field :title, class: 'form-control', placeholder: 'Title' %>
            </div>

            <div class="form-group">
              <%= f.label :Description %>
              <%= f.text_area :description, class: 'form-control', placeholder: 'Description' %>
            </div>

            <div class="form-group">
              <%= f.label :Start %>
              <div class='input-group date' id='datetimepicker1'>
                <input type='text' class="form-control" placeholder="Choose a date"/>
                    <span class="input-group-addon">
                        <span class="glyphicon glyphicon-calendar"></span>
                    </span>
              </div>
            </div>

            <div class="form-group">
              <%= f.label :End %>
              <div class='input-group date' id='datetimepicker2'>
                <input type='text' class="form-control" placeholder="Choose a date"/>
                    <span class="input-group-addon">
                        <span class="glyphicon glyphicon-calendar"></span>
                    </span>
              </div>
            </div>

            <div class="checkbox">
              <label><input type="checkbox" value="">All day</label>
            </div>

        <% end %>
      </div>
      <div class="modal-footer" id="users-modal-footer">
        <span class="pull-left" id="error-text" style="display: none; color: red; margin-top: 6px">At least 1 user</span>
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button class="btn btn-success" id="validate-new-chat-room-modal">OK</button>
      </div>
    </div>
  </div>
</div>